<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jet.base.provider">

    <application>
        <provider
            android:name=".JetFileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/jet_file_paths" />
        </provider>
    </application>

</manifest>
